.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: min(5vw, 5.8rem); padding-right: min(5vw, 5.8rem);
  padding-bottom: min(8vw, 2.8rem);
  padding-top: 0;
}

.footer p {
  font-weight: 500;
  font-size: var(--font-size__text);
  color: var(--color-text1);
  margin-bottom: 0;
}

.footer h2 {
  margin-bottom: min(6vw, 1rem);
  font-size: var(--font-size__title);
  font-weight: 500;
  color: var(--color-text1);
}

.footer__contact-icons {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-bottom: min(10vw, 1.5rem);
}

.footer__contact-icons h1 {
  font-size: var(--font-size__footer);
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}

.footer__contact-icons a {
  margin-bottom: 0;
}

.footer__contact-icons br {
  content: "";
  margin: min(10vw, 2.5em);
  display: block;
  font-size: 24%;
}

.footer__contact-icons img {
  margin-left: min(3vw, 1rem);
  margin-right: min(3vw, 1rem);
  width: min(20vw, 5rem);
  margin-bottom: 0;
  box-shadow: 0 0 1rem min(1vw, 0.3rem) #71f8ff;
  background: #71f8ff;
  border-radius: 50%;
  transition: 0.6s;
}

.footer__contact-icons img:hover {
  box-shadow: 0 0 4rem min(1vw, 0.3rem) #ff71ff;
  background: #ff71ff;
}